<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>staffRoster</title>
		<!--Note that in django when you use %static% it first looks in yourApp/static
		and then in the STATICFILES_DIRS  defined in settings-->
		{% load staticfiles %}
		<link rel='stylesheet' type='text/css' href="{% static 'staffRosterApp/fullcalendar/fullcalendar.css' %}" />
		<link  rel='stylesheet' type='text/css' href="{% static 'staffRosterApp/fullcalendar/fullcalendar.print.css' %}" media='print' />


		<script type='text/javascript' src="{% static 'staffRosterApp/jquery/jquery-1.9.1.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/jquery/jquery-ui-1.10.2.custom.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/fullcalendar/fullcalendar.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/fullcalendar/fullcalendar.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/jquery.easy-confirm-dialog.js' %}"></script>






		<script>
			$(document).ready(function() {
			// Security block to prevent cross site forgery
			
			
		 $(function () {

				csrftoken =  document.getElementsByName('csrfmiddlewaretoken')[0].value;
		        $.ajaxSetup({
		            headers: { "X-CSRFToken"
					: csrftoken }
					});
					});

					/* Generate unique id */
					function getUniqueId() {

						//Generate unique id
						return new Date().getTime() + Math.floor(Math.random()) * 100;
					}
					
					
					
					
					
					function processDropCallback(date,allday,elementName){						
						//default event duration in SECONDS	
						defaultEventDuration = 3600
						// retrieve the dropped element's stored Event Object
						var EventObject = $('#'+elementName).data('eventObject');
						EventObject.eventId = getUniqueId();
						// we need to copy it, so that multiple events don't have a reference to the same object
						var copiedEventObject = $.extend({}, EventObject);		
								
						// Set start date  it the date+time we dropped object onto
						copiedEventObject.start = date;	
						//Set end datetime
						//getTime returns milliseconds so we divide by 1000 to get seconds				
					 	copiedEventObject.end= ((date.getTime() /1000) + defaultEventDuration); // put your desired end time here
						copiedEventObject.allDay = false;  // No requirement for all day events 
						copiedEventObject.eventId = EventObject.eventId
						
						// render the event on the calendar
						// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
						$('#calendar').fullCalendar('renderEvent', copiedEventObject);
							//Check if we are updating staff availability OR an actual shift

	    					copiedEventObject.availabilityType = false;
	

						//Post to server to create shift in DB
						$.ajax({
							type : "POST",
							url : "/roster/createShift/",											
							data : {title :copiedEventObject.title ,
									start : copiedEventObject.start ,
									end : copiedEventObject.end ,
									firstname : copiedEventObject.firstName ,
									lastname  :  copiedEventObject.lastName,
									eventId: copiedEventObject.eventId,
									availabilityType: copiedEventObject.availabilityType
									},
							success : function(data) {
							},
							error : function(XMLHttpRequest, textStatus, errorThrown) {
								alert("Error updating roster, Please contact site admin - Ajax error:" + errorThrown);
							}, 
						});
										
				
					}
					
					function processClickDeleteShift(eventId){
						$.ajax({
							type : "POST",
							url : "/roster/deleteShift/",											
							data : {eventId: eventId},					

							success : function(data) {
								$('#calendar').fullCalendar('refetchEvents');
								$('#calendar').fullCalendar( 'rerenderEvents' );
							},
							error : function(XMLHttpRequest, textStatus, errorThrown) {
								alert("Error deleting shift, Please contact site admin - Ajax error:" + errorThrown);
							}, 
						});				
						
					;


					};
					
					function processEventResizeOrDrop(event){
						var EventObject = event;
						
						$.ajax({
							type : "POST",
							url : "/roster/editShift/",											
							data : {start : EventObject.start ,
									end : EventObject.end ,
									eventId: EventObject.eventId},							

							success : function(data) {


							},
							error : function(XMLHttpRequest, textStatus, errorThrown) {
								alert("Error updating roster, Please contact site admin - Ajax error:" + errorThrown);
							}, 
						});				

						$('#calendar').fullCalendar('rerenderEvents');
						
					}

			// Modified from demo found at arshaw.com/fullcalendar

				/* initialize the external events
				 -----------------------------------------------------------------*/

				$('#external-events div.external-event').each(function() {

					// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
					// it doesn't need to have a start or end
					var eventObject = {
						title : $.trim($(this).text()) , // use the element's text as the event title
						color :  $(this).attr('eventColor'),				
						title : $.trim($(this).text()) , // use the element's text as the event title
						firstName : $(this).attr('firstName'),
						lastName : $(this).attr('lastName'),

						availabilityType : 0 , // Default to shift type - this is changed as needed in processDropCallback 
					};


					// store the Event Object in the DOM element so we can get to it later
					$(this).data('eventObject', eventObject);

					// make the event draggable using jQuery UI
					$(this).draggable({
						zIndex : 999,
						revert : true, // will cause the event to go back to its
						revertDuration : 0 //  original position after the drag
					});

				});

				/* initialize the calendar
				 -----------------------------------------------------------------*/				
				
			 
				$('#calendar').fullCalendar({
				{% if rosterType == "shift" %}	
				    events: '/roster/jsonfeed/',
			    {% elif rosterType == "availability" %}
					events: '/roster/availabilityJsonFeed/',
				{% endif %}
					header : {
						left : 'prev,next today',
						center : 'title',
						right : 'agendaWeek,agendaDay'
					},
					defaultView : 'agendaWeek',
					{% if access == 'edit' %}
						editable : true,
						droppable : true, // this allows things to be dropped onto the calendar !!!
		    		{% endif %}



						/* On item drop*/
					drop: function(date, allDay) { elementName =$(this).attr('id');
						processDropCallback(date,allDay,elementName);},
					//End Drop callback
					eventResize: function(event) { processEventResizeOrDrop(event) } ,
					eventDrop: function(event) { processEventResizeOrDrop(event) } ,
					// Event render function is used to add new propertyies to the event object
					// It gets the new element data from the json feed by name eg eventId
					// and stores it in a variable of your choice eg event.myVar					
					eventRender: function(event, element) {
						element.attr("eventId",event.eventId) ;
						//This element sets the tooltip todisplay
						element.attr("title", "Click me for more options");

						},
						
						//Only allow delete popup if edit access	
						{% if access == 'edit' %}
							eventClick: function(calEvent, jsEvent, view) {
							var bConfirm = confirm("Delete this shift?");
							if (bConfirm == true) 
							{
								processClickDeleteShift(calEvent.eventId);
							}  
							}
				        {% endif %}
				});

			});

		</script>
		<style>


		</style>
	</head>

	<body>
		<div id='wrap'>
			<h1>Manager flag: {{ manager }}</h1>
			<div id='external-events'>
			{% if employees %}
<!-- Managers and staff view should have slightly different text as managers see all staff and their shifts
while staff see only their own shifts and availability -->
				{% if manager == True %}
					<h3 style="text-align:center"> Employees</h3>
					{% for employee in employees %}
	    				<div eventColor = {{employee.color}} style={{styleString}}{{employee.color}}  id={{employee.firstName}}{{employee.lastName}} class='external-event' firstName = {{employee.firstName}} lastName = {{employee.lastName}} >
							{{employee.firstName}} {{employee.lastName}}
						</div>
					{% endfor %}
				{% endif %}
				{% if manager == False %}
				<!-- Make the shift roster view and availability roster visually distinct to prevent confusion -->
					{% if rosterType == "availability" %}															
						<h3 style="text-align:center"> My Availability</h3>
						<div eventColor = "blue" style= background-color:'blue'  id={{employees.firstName}}{{employees.lastName}} class='external-event' firstName = {{employees.firstName}} lastName = {{employees.lastName}} >
							Available
						</div>
					{% elif rosterType == "shift" %}
						<h3 style="text-align:center"> My Shifts</h3>
						<div eventColor = {{employees.color}} style={{styleString}}{{employees.color}}  id={{employees.firstName}}{{employees.lastName}} class='external-event' firstName = {{employees.firstName}} lastName = {{employees.lastName}} >
							{{employees.firstName}} {{employees.lastName}}
						</div>
					{% endif %}


					<p style="font-size:medium">View:<br/> <a href="/roster/view">My shifts</a><br/><a href="/roster/viewAvailabity">My availability</a></p>
				{% endif %}
				
			{% else %}
   			 <h1>No employees available</h1>
			{% endif %}

			</div>
			{% csrf_token %}
			<div id='calendar'></div>


	</body>
</html>
