<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>staffRoster</title>
		<!--Note that in django when you use %static% it first looks in yourApp/static
		and then in the STATICFILES_DIRS  defined in settings-->
		{% load staticfiles %}
		<link rel='stylesheet' type='text/css' href="{% static 'staffRosterApp/fullcalendar/fullcalendar.css' %}" />
		<link rel='stylesheet' type='text/css' href="{% static 'staffRosterApp/fullcalendar/fullcalendar.print.css' %}" media='print' />

		<script type='text/javascript' src="{% static 'staffRosterApp/jquery/jquery-1.9.1.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/jquery/jquery-ui-1.10.2.custom.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'staffRosterApp/fullcalendar/fullcalendar.min.js' %}"></script>
		


		<script>
			$(document).ready(function() {
			// Security block to prevent cross site forgery
		 $(function () {

				csrftoken =  document.getElementsByName('csrfmiddlewaretoken')[0].value;
		        $.ajaxSetup({
		            headers: { "X-CSRFToken"
					: csrftoken }
					});
					});

					/* Generate unique id */
					function getUniqueId() {

						//Generate unique id
						return new Date().getTime() + Math.floor(Math.random()) * 100;
					}
					
					function testCall(){
						alert('test call from resize event worked!');
					}
					
					
					
					function processDropCallback(date,allday,elementName){						
						//default event duration in SECONDS	
						defaultEventDuration = 3600
						// retrieve the dropped element's stored Event Object
						var EventObject = $('#'+elementName).data('eventObject');

						EventObject.eventid = getUniqueId();
						// we need to copy it, so that multiple events don't have a reference to the same object
						var copiedEventObject = $.extend({}, EventObject);		
								
						// Set start date  it the date+time we dropped object onto
						copiedEventObject.start = date;	
						//Set end datetime
						//getTime returns milliseconds so we divide by 1000 to get seconds				
					 	copiedEventObject.end= ((date.getTime() /1000) + defaultEventDuration); // put your desired end time here
						copiedEventObject.allDay = false;  // No requirement for all day events 
						copiedEventObject.eventid = EventObject.eventid
						
						// render the event on the calendar
						// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
						$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

						alert('date format for drop function is end ' + copiedEventObject.end + '  start ' + copiedEventObject.start)
				
						//Post to server to create shift in DB
						$.ajax({
							type : "POST",
							url : "/roster/updateRoster/",											
							data : {title :copiedEventObject.title ,
									start : copiedEventObject.start ,
									end : copiedEventObject.end ,
									firstname : copiedEventObject.firstName ,
									lastname  :  copiedEventObject.lastName,
									eventid: copiedEventObject.eventid},
								

							success : function(data) {
								alert('ajax success - updating roster on drop');
							},
							error : function(XMLHttpRequest, textStatus, errorThrown) {
								alert("Error updating roster, Please contact site admin - Ajax error:" + errorThrown);
							}, 
						});				
					}
					
					function processEventResizeOrDrop(event){
						var EventObject = event;
						
						alert('resize function event id is ' + EventObject.eventid);
						alert('date format for resize function is end ' + EventObject.end + '  start ' + EventObject.start)

						$.ajax({
							type : "POST",
							url : "/roster/updateRoster/",											
							data : {start : EventObject.start ,
									end : EventObject.end ,
									eventid: EventObject.eventid},							

							success : function(data) {
								alert('ajax success - Editing roster on resize or drop ');
							},
							error : function(XMLHttpRequest, textStatus, errorThrown) {
								alert("Error updating roster, Please contact site admin - Ajax error:" + errorThrown);
							}, 
						});				

						$('#calendar').fullCalendar('rerenderEvents');
						
					}

			// Modified from demo found at arshaw.com/fullcalendar

				/* initialize the external events
				 -----------------------------------------------------------------*/

				$('#external-events div.external-event').each(function() {

					// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
					// it doesn't need to have a start or end
					var eventObject = {
						title : $.trim($(this).text()) , // use the element's text as the event title
						firstName : $(this).attr('firstName'),
						lastName : $(this).attr('lastName'),
					};

					// store the Event Object in the DOM element so we can get to it later
					$(this).data('eventObject', eventObject);

					// make the event draggable using jQuery UI
					$(this).draggable({
						zIndex : 999,
						revert : true, // will cause the event to go back to its
						revertDuration : 0 //  original position after the drag
					});

				});

				/* initialize the calendar
				 -----------------------------------------------------------------*/				
				
			 
				$('#calendar').fullCalendar({
				    events: '/roster/jsonfeed/',
					header : {
						left : 'prev,next today',
						center : 'title',
						right : 'agendaWeek,agendaDay'
					},
					defaultView : 'agendaWeek',
					{% if security == 'manager' %}
						editable : true,
						droppable : true, // this allows things to be dropped onto the calendar !!!
					{% endif %}



						/* On item drop*/
					drop: function(date, allDay) { elementName =$(this).attr('id');
						alert ("ID " +elementName);
						processDropCallback(date,allDay,elementName);},
					//End Drop callback
					eventResize: function(event) { processEventResizeOrDrop(event) } ,
					eventDrop: function(event) { processEventResizeOrDrop(event) } ,
				});

			});

		</script>
		<style>
			body {
				margin-top: 40px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
			}

			#wrap {
				width: 1100px;
				margin: 0 auto;
			}

			#external-events {
				float: left;
				width: 150px;
				padding: 0 10px;
				border: 1px solid #ccc;
				background: #eee;
				text-align: left;
			}

			#external-events h4 {
				font-size: 16px;
				margin-top: 0;
				padding-top: 1em;
			}

			.external-event {/* try to mimick the look of a real event */
				margin: 10px 0;
				padding: 2px 4px;
				background: #3366CC;
				color: #fff;
				font-size: .85em;
				cursor: pointer;
			}

			#external-events p {
				margin: 1.5em 0;
				font-size: 11px;
				color: #666;
			}

			#external-events p input {
				margin: 0;
				vertical-align: middle;
			}

			#calendar {
				float: right;
				width: 900px;
			}

		</style>
	</head>

	<body>
		<div id='wrap'>
			<h1>Security level: {{ security }}</h1>
			<div id='external-events'>
			{% if employees %}
				{% if security == 'manager' %}
					{% for employee in employees %}
	    				<div id={{employee.firstName}}{{employee.lastName}} class='external-event' firstName = {{employee.firstName}} lastName = {{employee.lastName}} >
							{{employee.firstName}} {{employee.lastName}}
						</div>
					{% endfor %}
				{% endif %}
				{% if security == 'staffMember' %}
					<div id={{employees.firstName}}{{employees.lastName}} class='external-event' firstName = {{employees.firstName}} lastName = {{employees.lastName}} >
						{{employees.firstName}} {{employees.lastName}}
					</div>
				{% endif %}
				
			{% else %}
   			 <h1>No employees available<h1>
			{% endif %}

			</div>
			{% csrf_token %}
			<div id='calendar'></div>

			<!-- <div style='clear:both'></div> -->
		</div>
	</body>
</html>
