<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Development - home page</title>
	</head>

	<body>
		<h1> Replace me with a pretty home page</h1>
		<p> Note I'd like to see if we can chuck the table bookings/online order view for
			 staff here as well -- needs lots of styling/formatting to customise it </p>

		<a href='admin'> Admin </a>
		
		<p> Note roster view is different depending on if you logon as staff or manager/superuser in admin first</p>
		<a href='roster/view'> Roster </a><br>
		
		<a href='menu/view'>Customer facing order form</a>
		
		<h2> TODOS</h2>
		
		<p> Create home page to replace this -- include links to all pages even if not built</p>
		<p> Create base html for all other pages - generic template 
			worth thinking over what is common + inheritance 1st</p>
		<p> Override admin templates to get a customised look/feel for admin pages</p>
		<p> Discuss putting all links for staff on admin page - one stop shop to view online order,edit
			db stuff eg user admin , menu items etc -- WHERE TO PUT LINKS ? page design?</p>


	

		<p></p>
		

	</body>
</html>
