<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Menu - Order </title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'menuApp/main.css' %}">

		<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="{% static 'menuApp/jquery/jquery-ui-1.9.0.custom.min.js' %}"></script>
	</head>
	<body>
	<!-- Code for script and page layout has been modified from code provided on the http://www.webresourcesdepot.com/drag-n-drop-shopping-cart-with-jquery-ui-tutorial/ -->
		<div class="container">

			<section id="header" style="margin-bottom: 50px;">
				<h3>Prettify me -  useful doco here: <a href="http://www.webresourcesdepot.com/drag-n-drop-shopping-cart-with-jquery-ui-tutorial/">Drag ‘n’ Drop Shopping Cart With jQuery UI (Tutorial)</a><h3>
			</section>

			<section id="product">
				<ul class="clear">
					{% for menuItem in menuItems %}
					<li  data-id={{menuItem.name}}>
						<a href="#"> 
							<img src="{{menuItem.image.url}}" width="100" height="100"> <h3> {{menuItem.name}}</h3>
							<p>{{menuItem.description}}	</p>
						 </a>
					</li>
					{% endfor %}
					
				</ul>
			</section>

			<aside id="sidebar">
				<div class="basket">
					<div class="basket_list">
						<div class="head">
							<span class="name">Product name</span>
							<span class="count">Quantity</span>
						</div>
						<ul>

						</ul>
						
						<button id="submitButton"> Submit Order</button>
					</div>
	
				</div>



			</aside>
		</div>

		<script>
			$(function() {

				// jQuery UI Draggable
				$("#product li").draggable({

					// brings the item back to its place when dragging is over
					revert : true,

					// once the dragging starts, we decrease the opactiy of other items
					// Appending a class as we do that with CSS
					drag : function() {
						$(this).addClass("active");
						$(this).closest("#product").addClass("active");
					},

					// removing the CSS classes once dragging is over.
					stop : function() {
						$(this).removeClass("active").closest("#product").removeClass("active");
					}
				});

				// jQuery Ui Droppable
				$(".basket").droppable({

					// The class that will be appended to the to-be-dropped-element (basket)
					activeClass : "active",

					// The class that will be appended once we are hovering the to-be-dropped-element (basket)
					hoverClass : "hover",

					// The acceptance of the item once it touches the to-be-dropped-element basket
					// For different values http://api.jqueryui.com/droppable/#option-tolerance
					tolerance : "touch",
					drop : function(event, ui) {

						var basket = $(this), move = ui.draggable, itemId = basket.find("ul li[data-id='" + move.attr("data-id") + "']");

						// To increase the value by +1 if the same item is already in the basket
						if (itemId.html() != null) {
							itemId.find("input").val(parseInt(itemId.find("input").val()) + 1);
						} else {
							// Add the dragged item to the basket
							addBasket(basket, move);

							// Updating the quantity by +1" rather than adding it to the basket
							move.find("input").val(parseInt(move.find("input").val()) + 1);
						}
					}
				});

				// This function runs onc ean item is added to the basket
				function addBasket(basket, move) {
					basket.find("ul").append('<li data-id="' + move.attr("data-id") + '">' + '<span class="name">' + move.find("h3").html() + '</span>' + '<input class="count" value="1" type="text">' + '<button class="delete">&#10005;</button>');
				}
				
		

				// The function that is triggered once delete button is pressed
				$(".basket ul li button.delete").live("click", function() {
					$(this).closest("li").remove();
				});
				
				//Submit order on cking submit btn
				$("#submitButton").on("click", function(event){
					var order = {};
					// Find the basket list div and any li items underneath it
  					$('div.basket_list').find('li').each(
  						function()
  						{
  							var itemName = $(this).attr('data-id');
  							var itemCount = $('.count',this).attr('value');
  							order[itemName] =  itemCount;
  							alert('Debug Added ' + itemName);
  							alert('Debug Count is ' + (order[itemName]) );
  						}
  					);
  					  	

				});

			});
		</script>

	</body>
</html>